body {
    padding-top: 60px;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Sanchez', serif;
    font-weight: 400;
}
a {
    color: #333;
}
a.brand {
    text-transform: uppercase;
    font-family: 'Sanchez', serif;
    font-weight: 400;
}
.navbar-inverse .brand {
    color: #EF9E7A;
}
a.brand small {
    text-transform: none;
    font-size: 11px;
    color: #B1C6A9;
    vertical-align: super;
}
.navbar .nav > li > a {
    color: #B1C6A9;
    padding-top: 14px;
    height: 18px;
    line-height: 18px;
}
.navbar .nav > li > a [class^="icon-"],
.navbar .nav > li > a [class*=" icon-"] {
    background-image: url("../imgs/icons-extra.png");
    margin-right: 5px;
}
.navbar .nav > li > a .icon-info-sign {
    background-position: -28px 0;
}
.navbar .nav > li > a .icon-tasks {
    background-position: -14px -14px;
}

.icon-h-chart,
.icon-v-chart,
.icon-database {
    background-image: url("../imgs/icons-extra.png");
}
.icon-h-chart {
    background-position: 0 0;
}
.icon-v-chart {
    background-position: -14px 0;
}
.icon-database {
    background-position: 0 -14px;
}
/*
#mysql-disk-usage .content {
    height: 400px;
    overflow: auto;
}
*/
#mysql-databases .content ul li {
    padding: 4px 7px;
}
#mysql-disk-usage .content td,
#mysql-databases .content ul li {
    border-top: 1px solid #dcc9a7;
}
#mysql-disk-usage .content tr:first-child td,
#mysql-databases .content ul li:first-child {
    border-top: none;
}


.help .label {
    font-weight: 400;
    padding: 3px 7px;
    font-size: 12px;
    line-height: 18px;
}
.help h2 {
    padding-bottom: 7px;
    border-bottom: 1px solid #bbb;
}


svg,
#mysql-databases .content,
#mysql-disk-usage .content {
    background: #F3E0BD;
    border-radius: 2px;
    box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.2);
}

rect.ghost {
    fill: #fff;
    opacity: 0.4;
}

rect.bar {
    fill: #EF9E7A;
}