
############################
# PROCESS
############################
processMonitor:
  refresh: 2000


############################
# MYSQL
############################
mysqlMonitor:
  connection:
    user:     MYSQLUSER
    password: MYSQLPASSWORD
    host:     127.0.0.1
    port:     3306
  refresh: 2000
  datadir: MYSQLDATADIR
